# Virtual environment
env/
.env/
venv/
.venv/

# Logs
logs/
Logs/
*.log
results/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Workflow
.github/

# Data
data/
*.csv


